.column{
	padding:0px;
}
.table th{
	line-height:16px;
	border-top:none;
}
.lineH{
	line-height:2px;
}
.songs{
	cursor: pointer;
}
.togg{
	border: 1px solid #101214;
	text-align:center;
	border-radius:5%;
	color:black;
	padding-top:1%;
	background-color: #272b30;
	height:60px;
}
.playing{
	opacity: 0.5;
}