{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
  <div class="row">
    <div class="span10 well">
      <h2>Contact Us</h2>
      <div class="span8">
        <h3>Email</h3>
        <ul >
          <li>vivekagrawal2612@gmail.com</li>
          <li>tvrandhavane@gmail.com</li>
          <li>mayankmeghwmaianshi@gmail.com</li>
          <li>yadav.alok29@gmail.com</li>
        </ul>
      </div>
      <div class="span8">
        <h3>Address</h3>
        <ul >
          <li>IIT Bombay</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}