{% load staticfiles %}
<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
{% csrf_token %}
<script>
	var songs = {
		songlist : [
			{
				filename:"filename.mp3",
				songname:"Numb",
				artistname:"Linkin Park"
			},
			{
				filename:"filename2.mp3",
				songname:"Somebody",
				artistname: "Gotye"
			},
		],
		folder: "troll/trolll/",
	};
	var playlist = {
		playlistName:"temp",
		songName: "Numb"
	}
	data = { 
                'data' : JSON.stringify(playlist),
                'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val(),
            };
	$.ajax(
    {
        'type': 'POST',
        'url': '/delete_song_from_playlist/',
        
        'data': data,
        'dataType': 'json',
        'success' : function(data){console.log(data);}
    }
);
</script>