{% extends "base.html" %}
{% block title %}Main{% endblock %}
{% block content %}
{% csrf_token %}
  <div class="row" >
    <div class="span3 well">
      <ul class="nav nav-pills nav-stacked">
        <li class="active">
          <a id="stats" class="togB" href="#">
            Stats
          </a>
          <div class="stat togg" style="display:none;">
            <p><a href="#">stats 1</a></p>
            <p><a href="#">stats 2</a></p>
          </div>
        </li>
        <li class="active">
          <a href="#" id="recs">
            Recommendation
          </a>
          <div class="rec togg" style="display:none;">
            <p><a href="#">rec 1</a></p>
            <p><a href="#">rec 2</a></p>
          </div>
        </li>
        <li class="active" >
          <a href="#" id="lists">
            Playlists
          </a>
          <div class="list togg" style="display:none;">
            <p><a href="#">Playlist 1</a></p>
            <p><a href="#">Playlist 2</a></p>
          </div>
        </li>
        <li class="active">
          <a href="#" id="Allsongs">
            All Songs
          </a>
          <div class="Allsong togg" style="display:none;">
            <p><a href="#">Song 1</a></p>
            <p><a href="#">Song 2</a></p>
          </div>
        </li>
      </ul>
    </div>


    <div class="span5  well" >
      <div class="row span5 ">
        <div class="span2 " >
          <img src="/" id="albumimage"></img>
        </div>
        <div class="span2 " >
          <span class="badge">Songs Info:</span>
          <table class="table" id="songInfo" style="font-size:10px;">
            <tbody>
              <tr>
                <th>Songs Name:</th>
                <th id="songname"></th>
              </tr>
              <tr>
                <th>Artist:</th>
                <th id="artist"></th>
              </tr>
              <tr>
                <th>Album:</th>
                <th id="album"></th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <audio id="player" preload="auto"></audio><br>
      <ul class="nav nav-list" style="backgroud-color:white;height:200px;overflow:auto;">
        <li class="nav-header">Playlist:</li>
        <ol id="Playlist" >
        </ol>
      </ul>
      <br>
        <div class="btn btn-small " id="shuffle" href="">
          Shuffle
        </div>
        <input type="file" name="file" style="display:none;" multiple id="songFiles" />
        <a class="btn btn-small" onclick="$('#songFiles').click();">Add Music</a>
    </div>
    <div class="span3 well" style="margin-left:10px">
      <p style="font-size:20px">Lyrics</p>
      <hr>
      <div class="panel" id="lyrics" style="height:350px;overflow:auto;">
      </div>
    </div>
  </div>
{% endblock %}